<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.ct7liang">

    <!-- zxing二维码扫描 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/emoticon13"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/emoticon13"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <!-- 二维码扫描 -->
        <activity android:name=".zxing.ZXingActivity" />
        <activity android:name=".zxing.MyStyleScanActivity" />
        <!-- APP崩溃处理 -->
        <activity android:name=".crash.CrashActivity" />
        <activity android:name=".crash.DealCrashActivityA" />
        <activity android:name=".crash.DealCrashActivityB" />
        <!-- 反人类手机音量调节器 -->
        <activity android:name=".fucking_slide.FuckingVolumeActivity" />
        <!-- 自定义控件 - 太极 -->
        <activity android:name=".taiji.TaiJiActivity" />
        <!-- 银行卡卡号校验 -->
        <activity android:name=".bank_card.CheckBankCardActivity" />
        <!-- 查看大图(String) -->
        <activity android:name=".QueryImageActivity" />
        <!-- 查看大图(Integer) -->
        <activity android:name=".QueryImageResourceActivity" />
        <!-- ImageView Scale属性 -->
        <activity android:name=".imageView_scaleType.ImageViewScaleTypeActivity" />
        <!-- 加载效果 -->
        <activity android:name=".loading.LoadingActivity" />
        <!-- 自定义地址选择三级联动 -->
        <activity android:name=".address_select.AddressSelectActivity" />
        <!-- BiliBili弹幕 -->
        <activity android:name=".bilibili_danmu.BiliBiliDanmuActivity" />
        <activity android:name=".bilibili_danmu.MyDanmuActivity" />
        <!-- 可折叠标题栏 -->
        <activity
            android:name=".collapsing.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".collapsing.ScrollTypeActivity" />
        <activity
            android:name=".collapsing.CustomScrollingActivity"
            android:label="@string/title_activity_custom_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".collapsing.Scrolling01Activity"
            android:label="@string/title_activity_scrolling01"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 选择按钮 -->
        <activity android:name=".switch_button.SwitchButtonActivity" />
        <!-- 沉浸式状态栏 -->
        <activity android:name=".status_bar.StatusBarCategoryActivity" />
        <activity android:name=".status_bar.StatusBarAActivity" />
        <activity android:name=".status_bar.StatusBarBActivity" />
        <activity android:name=".status_bar.StatusBarCActivity" />
        <activity android:name=".status_bar.StatusBarDActivity" />
        <activity
            android:name=".status_bar.StatusBarEActivity"
            android:label="@string/title_activity_status_bar_e"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".status_bar.StatusBarFActivity"
            android:label="@string/title_activity_status_bar_f"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>