<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.ct7liang">

    <!-- zxing二维码扫描 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.SplashActivity" />

        <activity-alias
            android:name=".icon"
            android:enabled="true"
            android:icon="@mipmap/emoticon13"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/emoticon13"
            android:targetActivity=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".icon01"
            android:enabled="false"
            android:icon="@mipmap/icon01"
            android:label="富强民主"
            android:roundIcon="@mipmap/icon01"
            android:targetActivity=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".icon02"
            android:enabled="false"
            android:icon="@mipmap/icon02"
            android:label="文明和谐"
            android:roundIcon="@mipmap/icon02"
            android:targetActivity=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".icon03"
            android:enabled="false"
            android:icon="@mipmap/icon03"
            android:label="自由平等"
            android:roundIcon="@mipmap/icon03"
            android:targetActivity=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".icon04"
            android:enabled="false"
            android:icon="@mipmap/icon04"
            android:label="公正法治"
            android:roundIcon="@mipmap/icon04"
            android:targetActivity=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".icon05"
            android:enabled="false"
            android:icon="@mipmap/icon05"
            android:label="爱国敬业"
            android:roundIcon="@mipmap/icon04"
            android:targetActivity=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".icon06"
            android:enabled="false"
            android:icon="@mipmap/icon06"
            android:label="诚信友善"
            android:roundIcon="@mipmap/icon04"
            android:targetActivity=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity android:name=".MainActivity" />

        <!-- 二维码扫描 -->
        <activity android:name=".zxing.ZXingActivity" />
        <activity android:name=".zxing.MyStyleScanActivity" />
        <!-- APP崩溃处理 -->
        <activity android:name=".crash.CrashActivity" />
        <activity android:name=".crash.DealCrashActivityA" />
        <activity android:name=".crash.DealCrashActivityB" />
        <!-- 反人类手机音量调节器 -->
        <activity android:name=".fucking_slide.FuckingVolumeActivity" />
        <!-- 自定义控件 - 太极 -->
        <activity android:name=".taiji.TaiJiActivity" />
        <!-- 银行卡卡号校验 -->
        <activity android:name=".bankCardCheck.CheckBankCardActivity" />
        <!-- 查看大图(String) -->
        <activity android:name=".QueryImageActivity" />
        <!-- 查看大图(Integer) -->
        <activity android:name=".QueryImageResourceActivity" />
        <!-- ImageView Scale属性 -->
        <activity android:name=".imageView_scaleType.ImageViewScaleTypeActivity" />
        <!-- 加载效果 -->
        <activity android:name=".loading.LoadingActivity" />
        <!-- 自定义地址选择三级联动 -->
        <activity android:name=".addressSelect.AddressSelectActivity" />
        <!-- BiliBili弹幕 -->
        <activity android:name=".bilibiliDanmu.BiliBiliDanmuActivity" />
        <activity android:name=".bilibiliDanmu.MyDanmuActivity" />
        <!-- 可折叠标题栏 -->
        <activity
            android:name=".collapsing.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".collapsing.ScrollTypeActivity" />
        <activity
            android:name=".collapsing.CustomScrollingActivity"
            android:label="@string/title_activity_custom_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".collapsing.Scrolling01Activity"
            android:label="@string/title_activity_scrolling01"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 选择按钮 -->
        <activity android:name=".switch_button.SwitchButtonActivity" />
        <!-- 沉浸式状态栏 -->
        <activity android:name=".status_bar.StatusBarCategoryActivity" />
        <activity android:name=".status_bar.StatusBarAActivity" />
        <activity android:name=".status_bar.StatusBarBActivity" />
        <activity android:name=".status_bar.StatusBarCActivity" />
        <activity android:name=".status_bar.StatusBarDActivity" />
        <activity
            android:name=".status_bar.StatusBarEActivity"
            android:label="@string/title_activity_status_bar_e"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".status_bar.StatusBarFActivity"
            android:label="@string/title_activity_status_bar_f"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- 图片模糊 -->
        <activity android:name=".imageBlur.ImageBlurActivity" />
        <!-- 登录界面 -->
        <activity android:name=".login_page.LoginCategoryActivity" />
        <activity android:name=".login_page.LoginAActivity" />
        <activity android:name=".login_page.LoginBActivity" />
        <activity android:name=".login_page.LoginCActivity" />
        <activity android:name=".login_page.LoginDActivity" />
        <activity android:name=".login_page.LoginEActivity" />
        <!-- 附带弹出效果的悬浮菜单按钮 -->
        <activity android:name=".menu.MenuActivity" />
        <activity android:name=".menu.boomMenu.BoomMenuActivity" />
        <activity android:name=".menu.boomMenu.SimpleCircleButtonActivity" />
        <activity android:name=".menu.boomMenu.TextInsideCircleButtonActivity" />
        <activity android:name=".menu.boomMenu.TextOutSideCircleButtonActivity" />
        <activity android:name=".menu.boomMenu.HamButtonActivity" />
        <activity android:name=".menu.boomMenu.SquarePieceCornerRadiusActivity" />
        <activity android:name=".menu.contextMenu.ContextMenuActivity" />
        <activity android:name=".changeLogo.ChangeLogoActivity" />
        <activity android:name=".soft_broad_case.SoftActivity" />
        <activity android:name=".view_flipper.ViewFlipperActivity" />
        <activity
            android:name=".activityLifecycle.ActivityLifecycleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <!-- android:configChanges="orientation|keyboardHidden|screenSize" -->
        <activity android:name=".taskStack.TaskStackActivity" />
        <activity
            android:name=".taskStack.StandardActivity"
            android:launchMode="standard" />
        <activity
            android:name=".taskStack.SingleTopActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".taskStack.SingleTaskActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".taskStack.SingleTaskStandardActivity"
            android:launchMode="standard" />
        <activity
            android:name=".taskStack.SingleInstanceActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".web_view.WebViewTestActivity" />
        <activity android:name=".refresh.QQRefreshActivity" />
        <activity android:name=".refresh.ScrollActivity"></activity>
    </application>

</manifest>